{% page / html %}
<div class="notion-text"></div>
{% page /introduction html %}
{% page /how-to-use-this-toolkit html %}
{% page /what-is-open-spp html %}
{% page /what-our-users-told-us html %}
<div class="notion-text"></div>
{% page /plan html %}
{% page /establish-an-enabling-environment html %}
{% page /prioritize html %}
{% page /monitoring-evaluation html %}
{% page /build-support-and-capabilities html %}
{% page /create-an-action-plan html %}
<div class="notion-text"></div>
{% page /implement html %}
{% page /assess-needs html %}
{% page /choose-a-procurement-method html %}
{% page /engage-with-the-market html %}
{% page /set-sustainability-criteria html %}
{% page /prepare-contract-obligations html %}
{% page /monitor-implementation html %}
<div class="notion-text"></div>
{% page /open-data-measuring-progress html %}
{% page /options-for-data-use html %}
{% page /spp-uptake html %}
{% page /carbon-reduction html %}
{% page /gender-inclusion html %}
{% page /life-cycle-costing html %}
{% page /economic-development html %}
<div class="notion-text"></div>
{% page /sector-guidance html %}
{% page /construction-sector html %}
{% page /ict-sector html %}
<div class="notion-text"></div>
<p class="notion-text notion-text__content notion-semantic-string"><strong>Resources</strong></p>
{% page /downloadable-tools html %}
{% page /resource-directory html %}
{% page /case-study-database html %}
{% page /guide-to-ecolabels html %}
{% page /open-spp-faqs html %}
