<nav class="notion-sidebar" aria-label="{{ site.sidebar_label | escape }}">
<ul>
<li>{% page / html %}</li>
<li>{% page /introduccin html %}
<ul>
<li>{% page /cmo-usar-la-herramienta html %}</li>
<li>{% page /qu-es html %}</li>
<li>{% page /lo-que-nos-dijeron-los-usuarios html %}</li>
</ul>
</li>
<li>{% page /plan html %}
<ul>
<li>{% page /establezca-un-entorno-habilitante html %}</li>
<li>{% page /priorice html %}</li>
<li>{% page /monitoreo-y-evaluacin html %}</li>
<li>{% page /establezca-mecanismos-de-apoyo html %}</li>
<li>{% page /cree-un-plan-de-accin html %}</li>
</ul>
</li>
<li>{% page /implemencin html %}
<ul>
<li>{% page /establezca-necesidades html %}</li>
<li>{% page /elija-un-mtodo-de-contratacin html %}</li>
<li>{% page /relacinese-con-el-mercado html %}</li>
<li>{% page /establezca-criterios-de-sostenibilidad html %}</li>
<li>{% page /elabore-obligaciones-del-contrato html %}</li>
<li>{% page /supervise-la-implementacin html %}</li>
</ul>
</li>
<li>{% page /datos-abiertos-y-progreso-de-medicin html %}
<ul>
<li>{% page /opciones-para-el-uso-de-datos html %}</li>
<li>{% page /adopcin-de-cps html %}</li>
<li>{% page /reduccin-de-carbono html %}</li>
<li>{% page /inclusin-de-gnero html %}</li>
<li>{% page /costeo-del-ciclo-de-vida html %}</li>
</ul>
</li>
<li>{% page /gua-del-sector html %}
<ul>
<li>{% page /sector-de-la-construccin-en-ingls html %}</li>
<li>{% page /sector-ict-en-ingls html %}</li>
</ul>
</li>
</ul>
<p class="notion-text notion-text__content notion-semantic-string"><strong>Recursos</strong></p>
<ul>
<li>{% page /herramientas-descargables html %}</li>
<li>{% page /directorio-de-recursos html %}</li>
<li>{% page /casos-de-estudio html %}</li>
<li>{% page /guas-para-las-ecoetiquetas html %}</li>
<li>{% page /preguntas-frecuentes html %}</li>
</ul>
</nav>
