{% page / html %}
<div class="notion-text"></div>
{% page /introduction html %}
{% page /how-to-use-this-toolkit html %}
{% page /what-is-open-spp html %}
{% page /what-our-users-told-us-1 html %}
<div class="notion-text"></div>
{% page /plan html %}
{% page /establish-an-enabling-environment html %}
{% page /prioritize-1 html %}
{% page /monitoring-evaluation html %}
{% page /build-support-and-capabilities html %}
{% page /create-an-action-plan html %}
<div class="notion-text"></div>
{% page /implement-1 html %}
{% page /assess-needs html %}
{% page /choose-a-procurement-method html %}
{% page /engage-with-the-market html %}
{% page /set-sustainability-criteria html %}
{% page /prepare-contract-obligations html %}
{% page /monitor-implementation html %}
<div class="notion-text"></div>
{% page /open-data-measuring-progress html %}
{% page /options-for-data-use-1 html %}
{% page /spp-uptake html %}
{% page /carbon-reduction html %}
{% page /gender-inclusion html %}
{% page /life-cycle-costing html %}
{% page /economic-development html %}
<div class="notion-text"></div>
{% page /sector-guidance-1 html %}
{% page /construction-sector-1 html %}
{% page /ict-sector-1 html %}
<div class="notion-text"></div>
<p class="notion-text notion-text__content notion-semantic-string"><strong>Resources</strong></p>
{% page /downloadable-tools-1 html %}
{% page /resource-directory html %}
{% page /case-study-database-1 html %}
{% page /guide-to-ecolabels-1 html %}
{% page /open-spp-faqs-1 html %}
