{% page / html %}
<div class="notion-text"></div>
{% page /introduccin html %}
{% page /cmo-usar-la-herramienta html %}
{% page /qu-es html %}
{% page /lo-que-nos-dijeron-los-usuarios html %}
<div class="notion-text"></div>
{% page /plan html %}
<a href="/establezca-un-entorno-habilitante" class="notion-link notion-page"><span class="notion-page__icon"><img alt="Establezca un entorno habilitante" loading="lazy" class="notion-icon" style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;object-fit:cover;object-position:center;" src="/assets/images/icons_D_Green2.png"/></span><span class="notion-page__title notion-semantic-string">Establezca un entorno habilitante</span></a>
{% page /priorice html %}
{% page /monitoreo-y-evaluacin html %}
{% page /establezca-mecanismos-de-apoyo html %}
{% page /cree-un-plan-de-accin html %}
<div class="notion-text"></div>
{% page /implemencin html %}
{% page /establezca-necesidades html %}
{% page /elija-un-mtodo-de-contratacin html %}
{% page /relacinese-con-el-mercado html %}
{% page /establezca-criterios-de-sostenibilidad html %}
{% page /elabore-obligaciones-del-contrato html %}
{% page /supervise-la-implementacin html %}
<div class="notion-text"></div>
{% page /datos-abiertos-y-progreso-de-medicin html %}
<a href="/opciones-para-el-uso-de-datos" class="notion-link notion-page"><span class="notion-page__icon"><img alt="Opciones para el uso de datos" loading="lazy" class="notion-icon" style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;object-fit:cover;object-position:center;" src="/assets/images/Icons_Light_Green2.png"/></span><span class="notion-page__title notion-semantic-string">Opciones para el uso de datos</span></a>
{% page /adopcin-de-cps html %}
{% page /reduccin-de-carbono html %}
{% page /inclusin-de-gnero html %}
{% page /costeo-del-ciclo-de-vida html %}
<div class="notion-text"></div>
{% page /gua-del-sector html %}
{% page /sector-de-la-construccin-en-ingls html %}
{% page /sector-ict-en-ingls html %}
<div class="notion-text"></div>
<p class="notion-text notion-text__content notion-semantic-string"><strong>Recursos</strong></p>
{% page /herramientas-descargables html %}
{% page /directorio-de-recursos html %}
{% page /casos-de-estudio html %}
{% page /guas-para-las-ecoetiquetas html %}
{% page /preguntas-frecuentes html %}
