<nav class="notion-sidebar" aria-label="{{ site.sidebar_label | escape }}">
<ul>
<li>{% page / html %}</li>
<li>{% page /introduction html %}
<ul>
<li>{% page /how-to-use-this-toolkit html %}</li>
<li>{% page /what-is-open-spp html %}</li>
<li>{% page /what-our-users-told-us html %}</li>
</ul>
</li>
<li>{% page /plan html %}
<ul>
<li>{% page /establish-an-enabling-environment html %}</li>
<li>{% page /prioritize html %}</li>
<li>{% page /monitoring-evaluation html %}</li>
<li>{% page /build-support-and-capabilities html %}</li>
<li>{% page /create-an-action-plan html %}</li>
</ul>
</li>
<li>{% page /implement html %}
<ul>
<li>{% page /assess-needs html %}</li>
<li>{% page /choose-a-procurement-method html %}</li>
<li>{% page /engage-with-the-market html %}</li>
<li>{% page /set-sustainability-criteria html %}</li>
<li>{% page /prepare-contract-obligations html %}</li>
<li>{% page /monitor-implementation html %}</li>
</ul>
</li>
<li>{% page /open-data-measuring-progress html %}
<ul>
<li>{% page /options-for-data-use html %}</li>
<li>{% page /spp-uptake html %}</li>
<li>{% page /carbon-reduction html %}</li>
<li>{% page /gender-inclusion html %}</li>
<li>{% page /life-cycle-costing html %}</li>
<li>{% page /economic-development html %}</li>
</ul>
</li>
<li>{% page /sector-guidance html %}
<ul>
<li>{% page /construction-sector html %}</li>
<li>{% page /ict-sector html %}</li>
</ul>
</li>
</ul>
<p class="notion-text notion-text__content notion-semantic-string"><strong>Resources</strong></p>
<ul>
<li>{% page /downloadable-tools html %}</li>
<li>{% page /resource-directory html %}</li>
<li>{% page /case-study-database html %}</li>
<li>{% page /guide-to-ecolabels html %}</li>
<li>{% page /open-spp-faqs html %}</li>
</ul>
</nav>
