<nav class="notion-sidebar" aria-label="{{ site.sidebar_label | escape }}">
<ul>
<li>{% page / html %}</li>
<li>{% page /introduction html %}
<ul>
<li>{% page /comment-utiliser html %}</li>
<li>{% page /definition html %}</li>
<li>{% page /vous-avez-demandes html %}</li>
</ul>
</li>
<li>{% page /planification html %}
<ul>
<li>{% page /mise-en-place html %}</li>
<li>{% page /priorits html %}</li>
<li>{% page /suivi-et-valuation html %}</li>
<li>{% page /des-mcanismes-dassistance html %}</li>
<li>{% page /plan-daction html %}</li>
</ul>
</li>
<li>{% page /mise-en-oeuvre html %}
<ul>
<li>{% page /valuer-les-besoins-rels html %}</li>
<li>{% page /choisir-une-mthode-de-passation-de-marchs html %}</li>
<li>{% page /interagir-avec-le-march html %}</li>
<li>{% page /des-critres-de-durabilit html %}</li>
<li>{% page /obligations-contractuelles html %}</li>
<li>{% page /suivi-de-lexcution html %}</li>
</ul>
</li>
<li>{% page /donnes-ouvertes-et-valuation-des-progrs html %}
<ul>
<li>{% page /possibilits-dutilisation-des-donnes html %}</li>
<li>{% page /ladoption-des-pratiques-durables html %}</li>
<li>{% page /la-rduction-des-missions-de-carbone html %}</li>
<li>{% page /linclusion-des-genres html %}</li>
<li>{% page /le-cot-du-cycle-de-vie html %}</li>
</ul>
</li>
<li>{% page /orientations-sectorielles html %}
<ul>
<li>{% page /la-construction-en-anglais html %}</li>
<li>{% page /le-secteur-tic-en-anglais html %}</li>
</ul>
</li>
</ul>
<p class="notion-text notion-text__content notion-semantic-string"><strong>Ressources</strong></p>
<ul>
<li>{% page /ressources-pratiques html %}</li>
<li>{% page /rpertoire-de-ressources html %}</li>
<li>{% page /base-de-donnes-dtudes-de-cas html %}</li>
<li>{% page /guide-des-co-tiquettes html %}</li>
<li>{% page /foire-aux-questions html %}</li>
</ul>
</nav>
