{% page / html %}
<div class="notion-text"></div>
{% page /introduction html %}
{% page /comment-utiliser html %}
{% page /definition html %}
{% page /vous-avez-demandes html %}
<div class="notion-text"></div>
{% page /planification html %}
{% page /mise-en-place html %}
{% page /priorits html %}
{% page /suivi-et-valuation html %}
{% page /des-mcanismes-dassistance html %}
<a href="/plan-daction" class="notion-link notion-page"><span class="notion-page__icon"><img alt="Plan d’action" loading="lazy" class="notion-icon" style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;object-fit:cover;object-position:center;" src="/assets/images/icons_D_Green2.png"/></span><span class="notion-page__title notion-semantic-string">Plan d’action</span></a>
<div class="notion-text"></div>
{% page /mise-en-place-1 html %}
{% page /valuer-les-besoins-rels html %}
{% page /choisir-une-mthode-de-passation-de-marchs html %}
{% page /interagir-avec-le-march html %}
{% page /des-critres-de-durabilit html %}
{% page /obligations-contractuelles html %}
{% page /suivi-de-lexcution html %}
<div class="notion-text"></div>
{% page /donnes-ouvertes-et-valuation-des-progrs html %}
{% page /possibilits-dutilisation-des-donnes html %}
{% page /ladoption-des-pratiques-durables html %}
{% page /la-rduction-des-missions-de-carbone html %}
{% page /linclusion-des-genres html %}
{% page /le-cot-du-cycle-de-vie html %}
<div class="notion-text"></div>
{% page /orientations-sectorielles html %}
{% page /la-construction-en-anglais html %}
{% page /le-secteur-tic-en-anglais html %}
<div class="notion-text"></div>
<p class="notion-text notion-text__content notion-semantic-string"><strong>Ressources</strong></p>
{% page /ressources-pratiques html %}
{% page /rpertoire-de-ressources html %}
{% page /base-de-donnes-dtudes-de-cas html %}
{% page /guide-des-co-tiquettes html %}
{% page /foire-aux-questions html %}
